<section class="lunches">

    <div class="lunch-select">
        <div class="lunch-day">
            <div><b>Понеділок</b></div>
            <div class="lunch-menu">
                <div>Салат с запеченной тыквой и курицей</div>
                <div>борщ украинский с пампушками,</div>
                <div> кукурузная каша с копченой курицей и брынзой</div>
                <button>Замовити</button>
            </div>
        </div>
        <div class="lunch-day">
            <div><b>Вівторок</b></div>
            <div class="lunch-menu">
                <div>Салат с жареными грибами и сметанным дрессингом</div>
                <div>консоме из курицы с домашней лапшой</div>
                <div>тушеная капуста с тефтелями</div>
                <button>Замовити</button>
            </div>
        </div>
        <div class="lunch-day">
            <div><b>Середа</b></div>
            <div class="lunch-menu">
                <div>Салат с окунем и кус-кусом</div>
                <div>гороховый суп</div>
                <div>овощное рагу с грибами</div>
                <button>Замовити</button>
            </div>
        </div>
        <div class="lunch-day">
            <div><b>Четвер</b></div>
            <div class="lunch-menu">
                <div>норвежская сельдь под шубой</div>
                <div>рамен с курицей</div>
                <div> бефстроганов с картофельным пюре</div>
                <button>Замовити</button>
            </div>
        </div>
        <div class="lunch-day">
            <div><b>П'ятниця</b></div>
            <div class="lunch-menu">
                <div>овощной деревенский салат</div>
                <div> похлебка с белыми грибами</div>
                <div>куриная тальята</div>
                <button>Замовити</button>
            </div>
        </div>
        <div class="lunch-day">
            <div><b>Субота</b></div>
            <div class="lunch-menu">
                <div>салат из куриного филе с ананасами и кукурузой</div>
                <div>бульон куриный с яйцом</div>
                <div>мини-пицца «Тонно»</div>
                <button>Замовити</button>
            </div>
        </div>
        <div class="lunch-day">
            <div><b>Неділя</b></div>
            <div class="lunch-menu">
                <div>салат с индейкой и запеченным перцем.</div>
                <div> крем-суп из мидий</div>
                <div> кебаб из трех видов мяса</div>
                <button>Замовити</button>
            </div>
        </div>
    </div>
</section>

