<h2>РЕЄСТРАЦІЯ</h2>
<form id="register-form">
    <input id="username" type="text" placeholder="Ім'я" required/>
    <input id="phonenumber" type="tel" placeholder="Номер телефону" required
           title="Введіть номер телефону у форматі 0**-*******" pattern="[0-9]{3}-[0-9]{7}"/>
    <input class="reg-button" type="submit" value="Зареєструватись"/>
</form>
<h2>УВІЙТИ</h2>
<form id="login-form">
    <input id="sign-username" type="text" placeholder="Ім'я" value=""/>
    <input id="sign-phonenumber" type="tel" placeholder="Номер телефону"
           title="Введіть номер телефону у форматі 0**-*******" pattern="[0-9]{3}-[0-9]{7}" value=""/>
    <input class="login-button" type="submit" value="Увійти"/>
</form>

<input type="submit" class="logout-button" value="Вийти">